target/META-INF/mule-src/fakestore-cart-s-api/src/main/mule/implementation/fakestore-s-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<flow name="post-checkout" doc:id="0d0f8947-90b1-46a1-b6af-6b836adbc601" >
		<logger level="INFO" doc:name="INFO Start Logger" doc:id="d9f79f9f-7f5f-40e4-b24f-56ff5a9dafa0" message='#["Start insert checkout to database"]' />
		<mongo:insert-documents doc:name="Insert documents" doc:id="f3d6f4c8-10da-4157-98bc-4e400ba376b7" config-ref="MongoDB_Config" collectionName="fakestore">
			<mongo:documents ><![CDATA[#[output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	user_id: payload01.userId as String,
	cart_id: payload01.cartId as String,
	total_amount: payload01.totalAmount as String,
	purchase_date: payload01.purchaseDate,
	created_date: payload01.createdDate,
	created_by: payload01.createdBy ,
	products: payload01.products
}]]]></mongo:documents>
		</mongo:insert-documents>
		<ee:transform doc:name="Set Payload Response" doc:id="b85b85f3-9039-4930-b5bb-3023ee794a12" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "title": "201-success-post-checkout",
  "examples": {
	"success-post-checkout": {
  	"header": {
	"apiName": p('api.name'),
	"apiVersion": "1.0.0",
	"correlationId": attributes.headers.'x-correlation-id'
  	},
  "data": {
	"message": "Data submit sucessfuly",
	"employeeId": "viseo-user"
   	}
	}
}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO End Logger" doc:id="b36daeae-2771-432e-8631-4d9472443949" message='#["End transaction inserting data into DB "]' />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="738bcbef-be89-4edc-a2d5-19d0ffd3ff09" type="MONGO:CONNECTIVITY, MONGO:TIMEOUT">
				<ee:transform doc:name="Transform Message" doc:id="d41ee123-5918-491f-bde5-a6cb599ca599" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
 {
        "header" : {
          "apiName": "<<apiName>>",
          "apiVersion": "<<apiVersion>>",
          "correlationId" : "6e560258-4e55-4839-b7d9-29c80f12263d"
        },
        "error" : {
            "description" : "Internal Server Error",
            "code": "500",
            "timestamp": "2020-06-15T15:13:10"
        }
      }]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
